# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Economy.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\julia\RiderProjects\Economy\.idea\.idea.Economy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
